<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Document</title>
</head>
<body>
       
 <div class="container w-full justify-center align-center "></div>
      <a href="">
        <div class="bg-gray-800 py-6 px-6 mx-auto text-center"></div>
      </a>
     
</body>
</html>