<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Document</title>
</head>
<body>
    <div class=" flex relative w-full justify-center my-10 align-center text-center">
        <div class="mx-auto   dark:text-white text-gray-800 bg-gray-800  ">
           <a class="text-gray-200" href="/site/add_product"> <div class="py-6 px-6"> 
             Add Products
           </div></a>
        </div> 
        <div class="mx-auto   dark:text-white text-gray-800 bg-gray-800  ">
            <a class="text-gray-200" href="/site/product_management"> <div class="py-6 px-6"> 
               Delete Products
            </div></a>
         </div>
         <div class="mx-auto   dark:text-white text-gray-800 bg-gray-800  ">
            <a class="text-gray-200" href="/site/product_management"> <div class="py-6 px-6"> 
               Update Products
            </div></a>
         </div>
</body>
</html>